@{
    ViewData["Title"] = "Home Page";
}

<body id="body">
    <h1 id="header" style="font-family:'Times New Roman'">Be The One..</h1>

    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index"><button type="button" class="btn btn-danger">SHOP NOW</button></a>

</body>