#header{
    font-weight:700;
    color: aquamarine;
}

#body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#thecard {
    margin: 2rem;
    display: inline-grid;
}