#header1 {
    font-weight: 700;
    font-size: 50px;
    color: aquamarine;
    margin-left: 85px;
}

#audio {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 85px;
}

#body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#thecard {
    margin: 2rem;
    display: inline-grid;
    margin-left: 85px;
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 250px;
    margin: 0 auto;
}

    .zoom:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
